<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CSAdminBDEntities" connectionString="metadata=res://*/Clases.ModelBD.csdl|res://*/Clases.ModelBD.ssdl|res://*/Clases.ModelBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\CSAdminBD.mdf;integrated security=True;connect timeout=30;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>